@font-face {
  font-family: 'MyFont';
  src: url('/fonts/onfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  background: #fbd3e6;
  font-family: 'MyFont', sans-serif;
  margin: 0;
  padding: 5px;
}

h3 {margin: 0px;}
a {text-decoration: none;}
.title {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px #555;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 6px;
  margin: 0 auto;
  place-items: center;
}




@media (min-width: 401px) {
  .container {
    grid-template-columns: repeat(5, 1fr);
    max-width: 800px;
  }
}

.popup-overlay {
  display: none; /* 초기엔 숨김 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 999;
}

.popup-box {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.name{
    border: 1px solid;
    border-radius: 4px;
    font-size: 20px;
    width: 100px;
  }

  .popup-box button {
    padding: 8px 16px;
    margin: 10px 5px 0 0;
    font-size: 14px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.2s ease;
  }

  .popup-box button:hover {
    background-color: #2980b9;
  }


  .circle {
    width: 20px;
    height: 20px;
    background-color: #3498db;
    border-radius: 50%;
    display: inline-block;
  }


  .hexagon {
    width: 20px;
    height: 10px;
    background-color: #e74c3c;
    position: relative;
  }

  /* 위쪽 삼각형 */
  .hexagon::before,
  .hexagon::after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }

  /* 위쪽 삼각형 */
  .hexagon::before {
    bottom: 100%;
    border-bottom: 5px solid #e74c3c;
  }

  /* 아래쪽 삼각형 */
  .hexagon::after {
    top: 100%;
    border-top: 5px solid #e74c3c;
  }
