input,select,textarea,button { font-family: 'Noto Sans KR',sans-serif;  outline: 0; background-color: transparent;}
input,textarea { color: #000 !important}
input[type="checkbox"] { position: absolute; left: -3000px}
body { word-break: keep-all;}
/* font */

:root {
    --color_000 : #000 ;
    --color_fff : #fff;
    --color_blue:#008ecb;
    --color_blue2:#008ecb;
    --color_red : #f00;
    --color_red2 : #de4f41;
    --color_gray : #434343;
    --color_313131 : #313131;
    --ls75 : -0.075em;
    --ls50 : -0.050em;
    --ls25 : -0.025em;
    --ls20 : -0.020em;

}

.dp_b { display: block !important; }
.dp_inb { display: inline-block !important; }
.dp_none {display: none !important; }
.dp_in {display: inline !important; }

/* center align */
.txt_center { text-align: center !important; }
.dp_center { display:block; margin: 0 auto; }

/* font-weight */
.fw300 { font-weight: 300; }
.fw400 { font-weight: 400; }
.fw500 { font-weight: 500; }
.fw600 { font-weight: 600; }
.fw700 { font-weight: 700; }
.fw800 { font-weight: 800; }
.fw900 { font-weight: 900; }
.fwB { font-weight: bold; }
/* font-size */
.fs0 { font-size: 0; }
/* letter-spacing */
.ls75 { letter-spacing: -0.075em; }
.ls50 { letter-spacing: -0.050em; }
.ls20 { letter-spacing: -0.020em; }
.ls25 { letter-spacing: -0.025em; }
.ls15 { letter-spacing: -0.015em; }
.lh10 { line-height: 1; }
.lh12 { line-height: 1.2; }
.lh13 { line-height: 1.3; }
.lh14 { line-height: 1.4; }
.lh15 { line-height: 1.5; }
.lh16 { line-height: 1.6; }
.lh17 { line-height: 1.7; }
.lh18 { line-height: 1.8; }
.lh19 { line-height: 1.9; }
.lh20 { line-height: 2; }
.lh30 { line-height: 3; }
.lh40 { line-height: 4; }
.lh50 { line-height: 5; }
/* bg */
.bg_blue { background-color: var(--color_blue) !important; }
.bg_white { background-color:#ffffff !important; }
.bg_red { background-color:#f00 !important; }
.bg_red2 { background-color:#de4f41 !important; color: #fff !important; }
.bg_gray { background-color: #434343 !important; color: #fff !important; }
.bg_light_gray { background-color: #f5f5f5 !important; color: #333 !important; }
.bg_light_gray2 { background-color: #e8e8e8 !important; color: #333 !important; }
.bg_navy { background-color: #373b46 !important; color: #fff; }

/* btn */
.btn_red { background-color:var(--color_red) !important; color: #fff !important; }
.btn_red2 { background-color:var(--color_red2) !important; color: #fff !important; }
.btn_blue { background-color:var(--color_blue) !important; color: #fff !important; }
.btn_center { display: table; margin: 0 auto; text-align: center; }
.btn_red { background: #f00 !important; color: #fff; }
.wrap_btn.flex.space > * { width: 49%; }

.btn_bank_waiting { background-color: #008ecb; color: #fff !important; width: 3rem; }
.btn_bank_cancel { background-color: #e60012; color: #fff !important; width: 3rem; margin-left: 0.5rem; }

/* font */
.f_NotoSansKR { font-family: 'Noto Sans KR', sans-serif !important; }
.f_GmarketSans { font-family: 'GmarketSans', sans-serif !important; }
.f_Montserrat { font-family: 'Montserrat', sans-serif !important; }

.bt { border-top: 1px solid #000; }
.bb { border-bottom: 1px solid #000; }
.border_dcdcdc { border-color: #dcdcdc !important; }
.border_e6e6e6 { border-color: #e6e6e6 !important; }
.va_mid { vertical-align: middle; }
.va_mid_text { vertical-align: middle; font-size: 15px; font-weight: 500; }

/* color */
.color_blue { color: var(--color_blue) !important; }
.color_blue2 { color: var(--color_blue2) !important; }
.color_000 { color: #000 !important; }
.color_fff { color: #fff !important; }
.color_red3 { color: #ff0101 !important; }
.color_ylw { color: #fffc00 !important; }
.color_666 { color: #666 !important; }

.wrap_img > img { width: 100%; }
.wrap_img > a > img { width: 100%; }
.list_type1 > li > a { display: block; border: 1px solid #ddd; border-radius: 0.5rem; box-sizing: border-box; }
.list_bul.gray { color: #676767; font-size: 0.8rem; }
.list_bul > li { padding-left: 0.6rem; position: relative; }
.list_bul > li.nonebul:before { display: none; }
.list_bul > li:before { position: absolute; left: 0; top: 0.75em; content: ""; display: inline-block; width: 0.25em; height: 0.25em; background: #666; vertical-align: middle; border-radius: 100%; }
.list_bul2 > li > p:before { content: ""; display: inline-block; margin-right: 6px; width: 2px; height: 2px; background: #bfbfbf; vertical-align: middle; }


.bx_gray { background: #eee; }
.bx_light_gray { background: #f7f7f7; }

.pt5 {padding-top:5px !important; }
.pt10 {padding-top:10px !important; }
.pt15 {padding-top:15px !important; }
.pt20 {padding-top:20px !important; }

.pb5 {padding-bottom:5px !important; }
.pb10 {padding-bottom:10px !important; }
.pb15 {padding-bottom:15px !important; }
.pb20 {padding-bottom:20px !important; }

.fl { float: left !important; }
.fr { float: right !important; }
